.navbarContainer {
  background-color: #000;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navbarMenu {
  list-style: none;
  display: flex;
  gap: 200px;
  margin: 0;
  padding: 0;
}

.navbarItem {
  text-transform: uppercase;
}

.navbarLink {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 12px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.navbarLink:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  border-radius: 30%;
  padding: 15px;
}

.navbarLink:active {
  transform: scale(0.95);
}
